#ddl {
    min-height: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
 }

.heading {
    text-align: justify;
    margin: 0 auto;
    width: 50%;
    font-size: 36px;
    font-family: "Calisto MT";
    border-color: black;
    border: 0 0 5px 0;
    list-style: none;
    padding: 0px;
}

.heading:after {
    content: '';
    display: inline-block;
    width: 100%;
}

ul.heading {
    padding: 0px;
}

.heading li {
    display: inline-block;
}

.radio {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

.radio:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.radio ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.radio li {
    display: inline-block;
}

.container {
    margin: 0 auto;
    width: 50%;
    padding: none;
}

.index {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

.login {
    margin: 0 auto;
    vertical-align: middle;
    padding: 3% 10% 3% 10%;
    width: 38%;
    border: 5px;
    border-color: white;
    border-radius: 3px;
    border-style: outset;
}

.colleges {
    color: white;
    font-family: "Calisto MT";
}

body {
    background-image: url("library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: white;
    font-family: "Calisto MT";
}

h1 {
    color: white;
    font-family: "Calisto MT";
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
}

h2 {

}

h3 {

}

a:link {
    color: white;
    font-family: "Calisto MT";
    text-shadow: 0 0 10px #FFFFFF;
}

option {
    max-width: 5%;
}

input[type=number] #HS_State #GPA_UW #GPA_UW #SAT_M #SAT_CR #SAT_W #ACT #Class_Rank {
    display: block;
    float: right;
    width: 25%;
}

input[type=submit] {
    background-color: white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

input[type=number, text] {
    display: block;
    margin: 0 auto;
}

.field {
    text-align: center;
}

a:hover {
    text-shadow: 0 0 10px #0000c7;
}

a:visited {
    color: #330077;
    text-shadow: 0 0 10px #800080;
}

a:visited:hover {
    text-shadow: 0 0 10px #FFFFFF;
}

.form {
    color: white;
    font-family: "Calisto MT";
}

.flash {
    color: white;
    font-family: "Calisto MT";
}