{% extends "base.html" %}

{% block content %}

<!--'BC', 'Boston U', 'Brown', 'Cornell U', 'Duke', 'Georgetown U', 'Georgia Tech', 'Harvard',
 'Johns Hopkins', 'MIT', 'NYU', 'Northeastern', 'Northwestern', 'Princeton', 'Stanford',
 'U Chicago', 'U Maryland', 'U Michigan', 'U SoCal', 'U-Penn', 'UC Berkeley', 'UC Davis',
 'UCLA', 'UCSB', 'UCSD', 'UNC Chapel Hill', 'UVA', 'Vanderbilt', 'Wash U', 'Yale']-->



    <div class="colleges">
        <h1>College Admittance Predictor</h1>

        <div class="login">

            <form action="/predict" method="POST" id="collegelist">
                <select name="collegelist" size="1" id="ddl" form="collegelist">
                    <option value="" disabled selected>Select a college...</option>
                    {% for college in colleges %}
                        <option value="{{ college.college_id }}" title="{{ college.name }}">{{ college.name }}</option>
                    {% endfor %}
                </select>

                <br>
                <div class="field">
                    State Abbreviation <input type="text" name="HS_State" id="HS_State" maxlength="2" placeholder="IL"><br><br>
                    GPA (unweighted) <input type="number" name="GPA_UW" value="float" id="GPA_UW" min="0.00" max="4.00" maxlength="3" placeholder="4.00"><br>
                    GPA (weighted) <input type="number" name="GPA_W" value="float" id="GPA_W" min="0.00" max="5.00" maxlength="3" placeholder="5.00"><br>
                    SAT (mathematics) <input type="number" name="SAT_M" value="float" id="SAT_M" min="0.00" max="800" maxlength="3" placeholder="800"><br>
                    SAT (reading) <input type="number" name="SAT_CR" value="float" id="SAT_CR" min="0.00" max="800" maxlength="3" placeholder="800"><br>
                    SAT (writing) <input type="number" name="SAT_W" value="float" id="SAT_W" min="0.00" max="800" maxlength="3" placeholder="800"><br>
                    ACT (0 if N/A) <input type="number" name="ACT" value="float" id="ACT" min="0.00" max="800" maxlength="3" placeholder="32"><br>
                    Class Ranking <input type="number" name="Class_Rank" value="float" id="Class_Rank" min="0.00" max="1.00" maxlength="3" placeholder="0.99"><br>
                </div>
                <hr>
                <div class="radio">
                    <ul>
                        <li><input type="radio" name="EA/ED" value="True"></li><li>EA/ED Status (T/F)</li><li><input type="radio" name="EA/ED" value="False"></li><br>
                        <li><input type="radio" name="Legacy" value="True"></li><li>Legacy Status (T/F)</li><li><input type="radio" name="Legacy" value="False"></li><br>
                        <li><input type="radio" name="Athlete" value="True"></li><li>Athlete Status (T/F)</li><li><input type="radio" name="Athlete" value="False"></li><br>
                    </ul>
                    <br>
                    <ul>
                        <li><input type="radio" name="HS_Type" value="Public">Public</li>
                        <li><input type="radio" name="HS_Type" value="Private">Private</li><br>
                        <li><input type="radio" name="HS_Type" value="Parochial">Parochial</li>
                        <li><input type="radio" name="HS_Type" value="Home">Home</li>
                    </ul>
                    <br>
                </div>
                <input type="submit" value="Predict your destiny...">

            </form>

        </div>

    </div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename = 'predict.js') }}"></script>

{% endblock %}

<!--Select a college
    Boston College
    Boston University
    Brown University
    Cornell Univeristy
    Duke University
    Georgetown University
    Georgia Institute of Technology
    Harvard University
    Johns Hopkins University
    Massachusetts Institute of Technology
    New York University
    Northeastern University
    Northwestern University
    Princeton University
    Stanford University
    University of Chicago
    University of Maryland
    University of Michigan
    University of Southern California
    University of Pennsylvania
    University of California, Berkeley
    University of California, Davis
    University of California, Los Angeles
    University of California, Santa Barbera
    University of California, San Diego
    University of North Carolina, Chapel Hill
    University of Virginia
    Vanderbilt University
    Washington University
    Yale University -->